:root {
  font-family: Arial, Helvetica, sans-serif;
  --color-body-dark: black;
  --color-text-white: white;
  --color-text-grey: rgb(219, 219, 219);
  --color-header-green: rgb(72, 141, 72);
  --color-header-lightgreen: rgb(70, 165, 70);
}

* {
  color: var(--color-text-white)
}

a {
  color: var(--color-text-white);
}
html,
body {
}

body {
  /* background-color: rgb(234, 234, 234); */
  margin: 0 auto;
  max-width: 800px;
}

header {
  background-color: var(--color-header-green);
}

main {
  background-color: var(--color-body-dark);;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

nav {
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
}
.oppCardBase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.oppCard {
  margin: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid rgb(189, 189, 189);
}
.oppCard > img {
  height: 100px;
}
.oppCardTitle,
.userListTitle {
  font-weight: bold;
}
.userList,
.npoList {
}
.userListItem,
.npoListItem {
  margin: 5px;
  padding: 10px;
  gap: 5px;
  display: flex;
  border: 1px solid rgb(189, 189, 189);
}
